musikantzun.dtd

<!ELEMENT egileak (egilea)*>
<!ELEMENT egilea (albuma)*>
<!ATTLIST egilea izenaEgile ID #REQUIRED>
<!ELEMENT albuma (portada?, abestia+)>
<!ATTLIST albuma izenaAlbum ID #REQUIRED>
<!ELEMENT portada ANY>
<!ELEMENT abestia (izenburua, data)>
<!ATTLIST abestia id ID #REQUIRED>
<!ELEMENT izenburua (#PCDATA)>
<!ELEMENT data (#PCDATA)>