dtd/abestiDeskribapena.dtd

<!ELEMENT abestia(izenburua, egilea, albuma, path+)>
<!ELEMENT izenburua (#PCDATA)>
<!ATTLIST egilea izenaEgile ID #REQUIRED>
<!ELEMENT albuma (portada?)>
    <!ATTLIST albuma izenaAlbuma NMTOKEN #REQUIRED>
    <!ATTLIST albuma albumaId ID #REQUIRED>
    <!ELEMENT portada (#PCDATA)>
<!ELEMENT path (#PCDATA)>
